/*----- FONTS -----*/
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

/*----- ALL -----*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body, html {
    height: 100%;
    background: url(../resources/images/phone-background.png);
}
@media only screen and (min-width: 500px) {
    body {
        background: url(../resources/images/pc-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/*----- PROFILE -----*/
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img {
    padding-top: 3rem;
    width: 25%;
}
.profile h1 {
    color: rgb(255, 255, 255);
    padding-top: 1.8rem;
    font-size: 1.7rem;
}
@media only screen and (min-width: 500px) {
    .profile {
        flex-direction: row;
    }
    .profile img {
        width: 10%;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    .profile h1 {
        font-size: 2rem;
        padding-left: 2rem;
    }
}